.graficoImg{
  padding: 1rem;
}
.graficoImg img {
  display: block;
  max-width: 100%;
  margin: 20px auto; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: solid #8A9A5B 1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.graficoImg img:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.graficoIntegra {
  display: none;
}

#dadosClima h2 {
  color: #8A9A5B;
  margin-bottom: 10px;
  font-size: 2rem;
}

#dadosClima p {
  font-size: 1.1rem;
  margin-bottom: 1px;
}

/* ================== Telas maiores (desktop) ================== */
@media (min-width: 768px) {

  .graficoIntegra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px auto;
    max-width: 1500px;
  }

  .graficoIntegra iframe {
    width: 100%;
    height: 460px;

  }

  .graficoIntegra iframe:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);

  }

  .graficoImg {
    display: none;
  }


}